<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDybuZHp247yOo4Fs7HXE5BexvDZP6tQeI</string>
	<key>GCM_SENDER_ID</key>
	<string>348019294759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testingFinalProject</string>
	<key>PROJECT_ID</key>
	<string>test-delivery-app-b0952</string>
	<key>STORAGE_BUCKET</key>
	<string>test-delivery-app-b0952.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348019294759:ios:d33c780fc7467dabda0402</string>
	<key>DATABASE_URL</key>
	<string>https://test-delivery-app-b0952-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>